{% extends 'base.html' %}
{% block css %}

<style>

body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  /*      Theme colors        */
  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --midnight: #104f55;
  --orange: #a26147;

  /* gradient color   */
  --sky: -webkit-linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

  /*      theme font-family   */
  --Abel: "Abel", cursive;
  --Anton: "Anton", cursive;
  --Josefin: "Josefin", cursive;
  --Lexend: "Lexend", cursive;
  --Livvic: "Livvic", cursive;
}

.nav {
  border: 2px solid black;
}

#heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  margin: 0 auto;
  margin-top: 16px;
}

#post-body{
  margin: 16px 90px 40px 90px;
  border: 2px solid black;
  padding: 0 30px;
}

#content{
  font-size: 28px;
  color:black;
}

.nav .social {
  padding: 1.4rem 0;
}

.nav .social i {
  padding: 0 0.2rem;
}

.nav .social i:hover {
  color: rgba(162, 97, 71) !important;
}

.blog-img{
  float: left;
  margin-top: 28px;
  margin-right: 28px;
  margin-bottom: 20px;
  width:45%;
  height: 50%;
  border-radius: 25px;
}

.info{
  margin-bottom: 50px;
  text-align: left;
}

.author{
  font-size: 24px;
  color: black;
  padding-left: 90px;
}

@media only screen and (min-width: 768px) {
    
    h1{
        padding-left: 35px;
        padding-right: 35px;
        text-align: center;
    }

    .blog-img{
      width: 500px;
      height: 300px;
    }

    #post-body {
      font-size: 21px;
    }

}

@media only screen and (max-width: 770px) {

  body{
    max-width: 100vw !important;
  }

  #heading{
    display: flex;
    width:100vh;
    justify-content: center;
    margin: 0 auto !important;
    overflow-wrap: normal;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 30px !important;
  }

  h1{
    font-size: 23px;
    padding-right: 43px;
    text-align: center;
  }
  
  #post-body{
    margin: 2px 7px 50px 7px;
    padding-left: 12px;
    padding-right: 12px;
  }

  #content{
    font-size: 18px !important;
  }

  .info{
    margin-bottom: 30px;
  }

  .author{
    font-size: 15px;
    padding-left: 7px;
  }

  .blog-img{
    
    display: block;

  }

}

</style>

{% endblock css %}


{% block body %}

<div id="heading">
    <h1>{{ blog_post.title}}</h1>
</div>

<div class="info">
  <p class="author">Posted By {{ blog_post.author }} on {{ blog_post.publish }} </p>
</div>

<div id="post-body">
  <img src="https://drive.google.com/uc?id={{ blog_post.imageId }}" alt="blog related image" class="blog-img">
    <p id="content" style="word-wrap: break-word;">{{ blog_post.body|safe }}</p>
</div>


{% endblock body %}

    
